/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #191919;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none; //uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Custom Styles
small {
    font-size: 0.3em;
}

p.small, li.small, span.small {
    font-size: 0.5em;
}

svg.rainbow { background: black }
#cover1 { animation: reveal1 2s linear; }
#cover2 { animation: reveal2 2s linear forwards; animation-delay: 2s }
@keyframes reveal1 {
    0% { stroke-dashoffset: 80; }
    100% { stroke-dashoffset: 0; }
}
@keyframes reveal2 {
    0% { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: -80; }
}

.cs-box-wrapper {
    display: flex; 
    justify-content:center; 
    align-items: center; 
    width: 900px; 
    height: 500px; 
    background-color: rgb(18, 18, 18);
    margin: auto;
    padding: 0;
}

.cs-box-inner {
    position: absolute; 
    background-color: rgb(124, 124, 124); 
    width: 900px; 
    height: 200px; 
    display: flex; 
    justify-content:center; 
    align-items: center;
}

.eye-fixation {
    width: 45px;
    height: 45px;
    background-color: blue;
    border-radius: 30px;
}